In [ ]:
import mysql.connector
import pandas as pd
from mysql.connector import Error

In [ ]:
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [ ]:
connection = create_server_connection("localhost", "root", 'MySqlP@ssword2024!')

In [ ]:
def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error as err:
        print(f"Error: '{err}'")

In [ ]:
create_database_query = 'CREATE DATABASE simage_data'
create_database(connection, create_database_query)

In [ ]:
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [ ]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")

In [ ]:
create_data_table = """
CREATE TABLE data (
  subject_id VARCHAR(400) PRIMARY KEY,
  Submission_Date DATETIME NOT NULL,
  Age FLOAT NOT NULL,
  CXCL9 FLOAT NOT NULL,
  CCL22 FLOAT NOT NULL,
  IL6 FLOAT NOT NULL,
  PDGFB FLOAT NOT NULL,
  CD40LG FLOAT NOT NULL,
  IL27 FLOAT NOT NULL,
  VEGFA FLOAT NOT NULL,
  CSF1 FLOAT NOT NULL,
  PDGFA FLOAT NOT NULL,
  CXCL10 FLOAT NOT NULL,
  SImAge FLOAT NOT NULL
  );
 """

connection = create_db_connection("localhost", "root", 'MySqlP@ssword2024!', 'simage_data')
execute_query(connection, create_data_table)

In [ ]:
pop_sample = """
INSERT INTO data VALUES
('tst_ctrl_000',  '2024-07-05 18:57:00', 53, 1837.555744, 840.866086, 0.451228919, 34643.53957, 3922.04539, 1322.281093, 283.9104028, 0.039449559, 3356.026332, 80.9627251, 48.54391861);
"""

connection = create_db_connection("localhost", "root", 'MySqlP@ssword2024!', 'simage_data')
execute_query(connection, pop_sample)

In [ ]:
def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")

In [ ]:
q1 = """
SELECT *
FROM data;
"""

connection = create_db_connection("localhost", "root", 'MySqlP@ssword2024!', 'simage_data')
results = read_query(connection, q1)

for result in results:
  print(result)

In [ ]:
def execute_list_query(connection, sql, val):
    cursor = connection.cursor()
    try:
        cursor.executemany(sql, val)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")

In [ ]:
del_q = """
DELETE FROM data;
"""

connection = create_db_connection("localhost", "root", 'MySqlP@ssword2024!', 'simage_data')
execute_query(connection, del_q)

In [ ]:
q1 = """
SELECT *
FROM data;
"""

connection = create_db_connection("localhost", "root", 'MySqlP@ssword2024!', 'simage_data')
results = read_query(connection, q1)

for result in results:
  print(result)

In [ ]:
import pandas as pd
import datetime

In [ ]:
df = pd.read_excel('D:/SImAge_Gradio/out/df.xlsx', index_col=0)

now = datetime.datetime.now()
df['Submission_Date'] = now.strftime("%Y-%m-%d %H:%M:%S")
df['subject_id'] = df.index + '_' + now.strftime("%Y-%m-%d_%H:%M:%S")

data_for_sql = df.loc[:, ['subject_id', 'Submission_Date', 'Age', 'CXCL9', 'CCL22', 'IL6', 'PDGFB', 'CD40LG', 'IL27', 'VEGFA', 'CSF1', 'PDGFA', 'CXCL10', 'SImAge']]

In [ ]:
sql = '''
    INSERT INTO data (subject_id, Submission_Date, Age, CXCL9, CCL22, IL6, PDGFB, CD40LG, IL27, VEGFA, CSF1, PDGFA, CXCL10, SImAge) 
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    '''

val = list(data_for_sql.itertuples(index=False))

connection = create_db_connection("localhost", "root", 'MySqlP@ssword2024!', 'simage_data')
execute_list_query(connection, sql, val)

In [ ]:
q1 = """
SELECT *
FROM data;
"""

connection = create_db_connection("localhost", "root", 'MySqlP@ssword2024!', 'simage_data')
results = read_query(connection, q1)

for result in results:
  print(result)